*{
    margin: 0;
    padding: 0;
}
body{
    font-family: sans-serif;
}
.logo-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;
    height: 30px;

}
ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    
}
li{
    padding: 0px 5px 0px 5px;
    
}
a{
    text-decoration: none;
}
.images{
    padding-top: 20px ;
    height: 200px;
    width:150px;
}
.Movies{
padding: 10px  0  10px 0;
display:  grid;
grid-template-columns: repeat(5,1fr);
    
}
.main{
    padding-left:  80px;
    padding-right: 10px;
    margin-bottom: 20px;
}
.seat{
    height:50px;
    width:50px;
    background-color:green;
    border-radius: 20px;
    
    
    
}

p{
    padding: 5px;
    margin: auto;
}

.seat-booking{
    display: none;
}
.seat-selector{
    display: grid;
    grid-template-columns: repeat(12,5fr);
    row-gap: 10px;
    margin-top:  auto;
    padding: 30px;
}
h2{
   text-align: center;
}
.screen{
    text-align: center;
    width: 70%;
    height: 40px;
    background-color: rgb(236, 236, 105);
    margin: auto;
    border-radius: 20px;
    align-items: center;
}
h2{margin-bottom: 20px;}
#sc{
    padding: 10px;
}
.seat2{
    height:50px;
    width:50px;
    background-color:red;
    border-radius: 20px;
    
    
}
.images:hover{
    cursor: pointer;
}